
.pagination {
    margin: 0;
    width: 350px;
}
.pagination > li {
    float: left;
    color: #1e417c;
}

.pagination > li {
    display: inline;
}

.pagination div{
    line-height: 25px;
    margin: 0 5px 0 5px;
}

.pagination ul,ul li {
    list-style: none;
    padding-left: 0;
}
.pull-left {
    text-align: left;
}
.pull-right {
    text-align: right;
}
.pull-center {
    text-align: center;
}
.page-options > li {
    float: left;
    margin: 0 5px;
}
.txt-page-number
{
    width: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    border-bottom: 1px solid #1e417c;
    margin: 0 5px;
    text-align: center;
    height: 25px;
    display: inline-block;
}

.pagination > li > a {
    color: #1e417c !important;
    border: 1px solid #cccccc;
    width: 36px;
    padding: 6px 12px !important;
}

.disabled {
    background: #e7e7e7 !important;
    pointer-events: none !important;
    cursor: default;
    padding: 6px 12px !important;
}