.nav-background{
 background-color: #4ebb4bfc;

}

.text-danger {
    color:red;
}

.btn-save{
    background-color: #4ebb4bfc;
}
.btn-cancel{
    background-color:white;
    color: black;
    border: 1px solid black;

}

.react-selectize.root-node .react-selectize-control{
    padding: 0px 0px;
}