.nav-background{
 background-color: #33b77970;

}

.text-danger {
    color:red;
}

.btn-save{
    background-color: #4ebb4bfc;
}
.btn-cancel{
    background-color:white;
    color: black;
    border: 1px solid black;
}
.text-info{
    color: #4ebb4bfc
}

.edit-icon{
    color:forestgreen;
}
.remove-icon{
    color: crimson
}
.react-selectize.root-node .react-selectize-control{
    padding: 0px 0px;
}

.shop-cover-photo{
    height: 250px;
    width: 300px;
}

.color-devider { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }